.recordingsSection {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 15px;
  gap: 24px;
  width: 50%;
  justify-content: center;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
}

.buttonRoot {
  width: 150px;
  text-transform: capitalize;
}

.noRecordings {
  font-family: Inter;
  font-style: italic;
  font-size: 16px;
  align-self: center;
  margin-top: 22px;
}
