.newRecordingSection {
  display: flex;
  flex-grow: 1;
  gap: 79px;
  width: 50%;
  justify-content: space-between;
  align-self: center;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
}
